tensorflow==1.15
tensorflow-hub==0.7.0
fastapi
uvicorn
pillow
requests
ultralytics
git+https://github.com/GantMan/nsfw_model.git#egg=nsfw_image_detector
git+https://github.com/GantMan/nsfw_detector.git
